body {
  background-color: #f9f7fe;
  font-family: "Fasthand", cursive;
  font-family: "Grape Nuts", cursive;
  font-family: "Nova Square", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/197/original/tom-barrett-hgGplX3PFBg-unsplash.jpg?1705663413");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: white;
  transition: all 200ms ease;
}
a:hover {
  color: #3394c8;
}

.weather-app {
  background: transparent;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px white;
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px;
  padding: 0 0 20px 0;
  font-family: "Fasthand", cursive;
  font-family: "Grape Nuts", cursive;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 78%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #b55f13;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
  transition: all 200ms ease;
}

.search-form-button:hover {
  cursor: pointer;
  background: #c7966c;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.time {
  display: block;
  margin: 0;
  font-size: 25px;
  line-height: 48px;
  color: white;
  margin-left: 220px;
  margin-bottom: 20px;
  margin-top: 0;
}
.forcast-title {
  display: block;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: white;
  margin-left: 150px;
  margin-bottom: 20px;
}
.weather-app-city {
  display: block;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: white;
  margin-left: 240px;
  margin-bottom: 20px;
  margin-top: 0;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #3394c8;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-app-details {
  font-size: 16px;
  color: white;
  line-height: 24px;
  font-weight: bold;
}

.weather-app-details strong {
  color: #3394c8;
}

.weather-app-temperature-container {
  display: flex;
  margin-top: 25px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  color: white;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: white;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #3394c8;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #b55f13;
}
